
@{
    Layout = null;
}


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Rent Car</title>
    <meta http-equiv="Page-Exit" content="progid:DXImageTransform.Microsoft.Fade(Duration=0.3)" />

    <script type="text/javascript" src="TSbd/08f8ea49d0ab20002876948fa35b7434d200feeffca8ad4a262863a9b4f46c42c6cafb68cf689ed8?type=2"></script>
    <script type="text/javascript" src="ruxitagentjs_ICA2SVfjoqru_10201200909073022.js" data-dtconfig="app=2cd5e89f13f0e97a|featureHash=ICA2SVfjoqru|vcv=2|rdnt=1|uxrgce=1|bp=3|cuc=of94dyse|dpvc=1|lastModification=1601999805227|dtVersion=10201200909073022|tp=500,50,0,1|uxdcw=1500|vs=2|agentUri=/ibweb/ruxitagentjs_ICA2SVfjoqru_10201200909073022.js|reportUrl=/ibweb/rb_5935e489-9b43-42bc-a565-39160001ab1f|rid=RID_199184236|rpid=1679626738|domain=alinma.com"></script>
    <script type="text/javascript" src="js/min/richfaces1814.js?v=200930164155"></script>
    <link type="text/css" rel="stylesheet" href="~/css/min/richfaces1814.css?v=200930164155" />

    <link type="image/x-icon" rel="shortcut icon" href="images/w.png" />
    <script type="text/javascript" src="js/min/script1814.js?v=200930164155"></script>


    <link href="~/css/min/style.css" rel="stylesheet" />
    <link href="~/css/min/style.ar1814.css" rel="stylesheet" />
    <link href="~/css/min/style1814.css" rel="stylesheet" />



    <style type="text/css">
        div#errorPanel, div#showErrorPanel {
            width: 698px;
            position: relative;
        }

        div#errorPanel {
            z-index: 999;
            margin: 0px 0px;
            padding: 0px 0px 10px 0px;
            font: bold 13px tahoma;
        }

        div#showErrorPanel {
            text-align: center;
            z-index: 99;
        }

        div.errorPanelContainer {
            position: fixed;
            bottom: 0;
            z-index: 99999;
            margin: 0 260px;
            background: #FFBABA;
            border: 1px solid;
        }

        div.warningPanelContainer {
            position: fixed;
            bottom: 0;
            z-index: 99999;
            margin: 0 260px;
            background: #BDE5F8;
            border: 1px solid;
            color: #00529B;
        }

        div.successPanelContainer {
            border: 1px solid;
            position: fixed;
            bottom: 0;
            z-index: 99999;
            margin: 0 260px;
            background: #DFF2BF;
        }
    </style>


</head>
<body class="mainBody" onload="runMenu();" dir="rtl">
    <form id="form1" runat="server" method="post">
        <div>

            <div class="modal-popup">
                <div id="privacy" class="window">
                    <div class="rich-panel " id="j_id9">
                        <div class="rich-panel-header " id="j_id9_header">
                            <span id="j_id10">
                                &#1587;&#1610;&#1575;&#1587;&#1577; &#1575;&#1604;&#1582;&#1589;&#1608;&#1589;&#1610;&#1577; &#1608;&#1575;&#1604;&#1571;&#1605;&#1575;&#1606;

                                <a tabindex="" href="#" class="icon-close-dialog"></a>
                            </span>
                        </div>
                        <div class="rich-panel-body " id="j_id9_body">

                        </div>
                    </div>
                    <div class="modal-popup-footer-ar">

                    </div>
                </div>
                <div id="terms" class="window">
                    <div class="rich-panel " id="j_id16">
                        <div class="rich-panel-header " id="j_id16_header">
                            <span id="j_id17">
                                &#1575;&#1604;&#1588;&#1585;&#1608;&#1591; &#1608;&#1575;&#1604;&#1571;&#1581;&#1603;&#1575;&#1605;

                                <a tabindex="" href="#" class="icon-close-dialog" onclick="closeModalPopup('#terms')"></a>
                            </span>
                        </div>
                        <div class="rich-panel-body " id="j_id16_body">

                        </div>
                    </div>
                    <div class="modal-popup-footer-ar">
                        <a href="#" class="close-icon-ar" onclick="closeModalPopup('#terms')"></a>
                    </div>
                </div>
                <div id="disclaimer" class="window">
                    <div class="rich-panel " id="j_id23">
                        <div class="rich-panel-header " id="j_id23_header">
                            <span id="j_id24">
                                &#1573;&#1582;&#1604;&#1575;&#1569; &#1575;&#1604;&#1605;&#1587;&#1574;&#1608;&#1604;&#1610;&#1577;

                                <a tabindex="" href="#" class="icon-close-dialog" onclick="closeModalPopup('#disclaimer')"></a>
                            </span>
                        </div>
                        <div class="rich-panel-body " id="j_id23_body">

                        </div>
                    </div>
                    <div class="modal-popup-footer-ar">
                        <a href="#" class="close-icon-ar" onclick="closeModalPopup('#disclaimer')"></a>
                    </div>
                </div>
                <div id="learnMoreAboutSecurity" class="window">
                    <div class="rich-panel " id="j_id30">
                        <div class="rich-panel-header " id="j_id30_header">(&#1587;&#1610;&#1575;&#1587;&#1577; &#1575;&#1604;&#1582;&#1589;&#1608;&#1589;&#1610;&#1577; &#1608;&#1575;&#1604;&#1571;&#1605;&#1575;&#1606;)</div>
                        <div class="rich-panel-body " id="j_id30_body">

                        </div>
                    </div>
                    <div class="modal-popup-footer-ar">
                        <a href="#" class="close-icon-ar" onclick="closeModalPopup('#learnMoreAboutSecurity')"></a>
                    </div>
                </div>
            </div>
            <div id="modalPopupMask" class="mask"></div>

            <div id="freezeBody" class="freeze" style="display: none"></div>

            <table class="mainTable" style="height: 100%; margin: 0 auto; background: #e7e7e745;" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <div class="containerar" style="background: #e7e7e717;">
                            <div class="header">

                                <div style="position: relative; top: 20px; right: 20px;">
                                    <span class="logo-alinma-bank"></span>
                                </div>

                                <div style="position: relative; top: 20px; left: 20px;">
                                    <span class="logo-alinma-internet"></span>
                                    <div style="position: absolute; top: 100px; left: 240px; width: 40px; height: 24px; background: #91785B;">
                                        <div>
                                            <input type="hidden" name="j_id40" value="j_id40" />
                                            <a id="j_id40:langCmndLnk" href="@Url.Action("login", "Account")" tabindex="1724" class="switchLang" >English</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="messagesIdar">
                                    <span id="transactionNumberOutput"><span style="color: #f4f2f0;"></span></span>
                                </div>
                                <span id="_viewRoot:status">
                                    <span id="_viewRoot:status.start" style="display: none">
                                        <img src="images/ajax-loader1814.gif?v=200930164155" style="position: absolute; right: 55%; top: 193px; z-index: 9999" alt="" />
                                    </span>

                                    <span id="_viewRoot:status.stop"></span>
                                </span>
                            </div>

                            <div class="sidebar1ar">
                                <div class="firstcolblue">
                                    <span id="loginBodyId">

                                        <div id="AccordionContainer" class="AccordionContainer" style="height: 420px; position: relative; border: none;">
                                            <div style="padding: 0px; margin: 0px">


                                                <div id="headLevel1" class="AccordionTitle">
                                                    <span class="vm-icon vm-login"></span>
                                                    <label class="menuHeaderLabelar">
                                                        <span class="menuHeaderLinkar">&#1578;&#1587;&#1580;&#1610;&#1604; &#1575;&#1604;&#1583;&#1582;&#1608;&#1604;</span>
                                                    </label>

                                                </div>

                                            </div>
                                            <div id="Accordion1Content" class="AccordionContentLogin" style="margin: 0px 20px; width: 180px; display: block;">
                                                <div id="loginForm">
                                                    <input type="hidden" name="loginForm" value="loginForm" />
                                                    <div class="rich-panel paddingPanel" id="loginForm:loginPanel" style="background-color: #dededeb0 !important; padding: 10px 10px 10px 10px !important;">
                                                        <div class="rich-panel-body " id="loginForm:loginPanel_body">
                                                            <table id="loginForm:loginFormGrid" cellpadding="0" cellspacing="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="displayLabelInput">
                                                                                <table cellpadding="0" cellspacing="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <label>اسم المستخدم</label><label style="color: #FF0000;">*</label>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <span class="paddingPanel">


                                                                                                    <input type="text" id="txtusername" width="160px" class="inputTextBlockar login-input">

                                                                                                </span>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <div id="loginForm:userIdInput:validationDiv" style="display: none">

                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span class="displayLabelInput">
                                                                                <table cellpadding="0" cellspacing="0">

                                                                                    <tr>
                                                                                        <td>
                                                                                            <label>كلمة المرور</label><label style="color: #FF0000;">*</label>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <span class="paddingPanel">



                                                                                                <input type="text" id="txtpassword" width="160px" class="inputTextBlockar login-input">



                                                                                            </span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <div id="loginForm:userPasswordInput:validationDiv" style="display: none">
                                                                                                <ul class="ulErrorMessagear">
                                                                                                </ul>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>

                                                                                </table>
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <input id="loginForm:JSFViewRootBalancer" type="text" name="loginForm:JSFViewRootBalancer" onkeyup="try{ updateDir(this);}catch(ex){}" style="display: none" />
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <span style="height: 10px">


                                                                                <input type="button" id="BtnLogin" value="الدخول" onclick="@("window.location.href='" + @Url.Action("index","home") + "'") ;" />

                                                                            </span>
                                                                        </td>
                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                            <span id="loginForm:restoreLoginMessagesCaller"></span>

                                                        </div>
                                                    </div>

                                                </div>



                                            </div>
                                            <div id="secondForm" style="padding: 0px; margin: 0px">
                                                <input type="hidden" name="secondForm" value="secondForm" />

                                                <div id="headLevel2" class="AccordionTitle">
                                                    <span class="vm-icon vm-forget"></span>
                                                    <label class="menuHeaderLabelar">
                                                        <a href="#" onkeydown="return enableSpace(event,this)" tabindex="20" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.forms['secondForm'],{'secondForm:j_id70':'secondForm:j_id70'},'');}return false" class="menuHeaderLinkar">&#1606;&#1587;&#1610;&#1578; &#1603;&#1604;&#1605;&#1577; &#1575;&#1604;&#1605;&#1585;&#1608;&#1585;</a>
                                                    </label>
                                                </div>
                                               <!-- <div id="headLevel3" class="AccordionTitle">
                                                    <span class="vm-icon vm-forget"></span>
                                                    <label class="menuHeaderLabelar">
                                                        <a href="#" onkeydown="return enableSpace(event,this)" tabindex="30" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.forms['secondForm'],{'secondForm:j_id74':'secondForm:j_id74'},'');}return false" class="menuHeaderLinkar">&#1606;&#1587;&#1610;&#1578; &#1575;&#1587;&#1605; &#1575;&#1604;&#1605;&#1587;&#1578;&#1582;&#1583;&#1605;</a>
                                                    </label>
                                                </div>
                                                <div id="headLevel4" class="AccordionTitle">
                                                    <span class="vm-icon vm-new-user"></span>
                                                    <label class="menuHeaderLabelar">
                                                        <a href="#" onkeydown="return enableSpace(event,this)" tabindex="40" onclick="if(typeof jsfcljs == 'function'){jsfcljs(document.forms['secondForm'],{'secondForm:j_id78':'secondForm:j_id78'},'');}return false" class="menuHeaderLinkar">&#1605;&#1587;&#1578;&#1582;&#1583;&#1605; &#1580;&#1583;&#1610;&#1583;</a>
                                                    </label>
                                                </div>-->


                                            </div>
                                        </div>


                                    </span>
                                </div>
                            </div>

                            <!-- end .sidebar1 -->

                            <div class="contentar" style="background: #e7e7e745;">

                                <div class="backgroundar">
                                </div>
                                <span id="pageBodyPanel">

                                    <div class="loginBodyar marginRightar">
                                        <div id="bodyBoxStop" class="loginBodyBoxHead">
                                            <span class="login-body-box-icon login-body-stop"></span>
                                            <div class="ar">وزارة النقل</div>
                                        </div>
                                        <div class="loginBodyText">
                                            <div>كود تويتر</div>
                                        </div>
                                    </div>
                                    <div class="loginBodyar marginRightar">
                                        <div id="bodyBoxSure" class="loginBodyBoxHead">
                                            <span class="login-body-box-icon login-body-sure"></span>
                                            <div class="ar">هيئة النقل السعودية</div>
                                        </div>
                                        <div class="loginBodyText">
                                            <div> كود التويتر</div>
                                        </div>
                                    </div>
                                    <div class="loginBodyar">
                                        <div id="bodyBoxSecurity" class="loginBodyBoxHead">
                                            <span class="login-body-box-icon login-body-security"></span>
                                            <div class="ar">&#1571;&#1605;&#1606; &#1575;&#1604;&#1605;&#1593;&#1604;&#1608;&#1605;&#1575;&#1578;</div>
                                        </div>
                                        <div class="loginBodyText">
                                            <div>معلومات حول الأمن</div>
                                            
                                        </div>
                                    </div>

                                </span>
                            </div>
                            <!-- end .content -->
                        </div>
                        <!-- end .container -->
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0px 20px;" valign="bottom">

                        <div id="errorPanelContainer" class="errorPanelContainer" style="display: none; height: auto">
                            <div id="errorPanel" style="background-position: 98% center;">
                                <table cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a href="#" onclick="closeBlindDownButton({duration:0.8}); ">
                                                    <div id="imgErrSucc" class="icon-error"></div>
                                                </a>
                                            </td>
                                            <td>
                                                <span id="validationMessagesId">
                                                    <table cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table>
                                                                        <tr>
                                                                            <td>
                                                                                <label style="display: none"></label>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>


                                                    <input id="hiddenMenueLevel" type="hidden" name="hiddenMenueLevel" value="-1" /><input id="hiddenMenueSubLevel" type="hidden" name="hiddenMenueSubLevel" value="-1" />
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <div style="height: 25px">

                            <div style="text-align:center;width:100%;font-weight:bold;">جميع الحقوق محفوظة</div>


                        </div>

                    </td>
                </tr>
            </table>

            <!-- Warning panel -->


            <div class="rich-panel " id="timeOutPanel" style="display: none;">
                <div class="rich-panel-body " id="timeOutPanel_body">
                    <script type="text/javascript">

                    </script>
                </div>
            </div>

            <div id="javaScriptLogDiv" class="javaScriptLogDiv" style="position: fixed; bottom: 5px; left: 1px; direction: ltr; background-color: lightblue;" ondblclick="toggleLog()">
                <p onclick="toggleLog()">JS LOG</p>
                <ul id="javaScriptLog" style="display: none"></ul>
            </div>

        </div>
    </form>
</body>
</html>
