
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @*<style>
            .label_input {
                float:left;
                width:45%;
                margin-left:2.5%;
                margin-right:2.5%;
            }
            .label_input label{
                width:100%;
                float:left;
                color:#000;
                padding-top:10px;
            }
            .label_input input {
                width: 100%;
                float: left;
            }
            .form_bg {
                float: left;
                width: 100%;
                background: #dededeb0;
                padding-bottom: 20px;
                padding-top: 20px;
                border: 1px solid #d2d2d2;
            }
            .bottom_form {
                float:left;
                width:50%;
                margin-top:25px;
            }
            .delete_btn {
                width: 94px;
                height: 30px;
                color: #fff;
                margin-left: 5%;
                float: left;
                background: #0A4876 !important;
            }
            .add_btn, .edit_btn {
                width: 94px;
                height: 30px;
                color: #fff;
                float: right;
                background: #0A4876 !important;
            }
            .edit_btn{
                margin-right:15px;
            }
            .add_btn{
                margin-right:5%;
            }
        </style>
        <div class="form_bg" method="Post">
            <div style="float:left;width:100%;text-align:center;padding-bottom:25px; font-size:20px;">صفحة المناطق</div>
            <div style="float:right;width:100%;text-align:right;padding-bottom:25px; font-size:12px;">تمكن هذه الصفحة المستخدم من التعديل في قائمة المناطق</div>
            <form>
                <div class="label_input">
                    <label>رمز المنطقة </label>
                    <input type="text" name="CR_Mas_Sup_Regions_Code" />
                </div>
                <div class="label_input">
                    <label>إسم المنطقة بالعربي</label>
                    <input type="text" name="CR_Mas_Sup_Regions_Ar_Name" />
                </div>
                <div class="label_input">
                    <label>إسم المنطقة بالإنجليزي</label>
                    <input type="text" name="CR_Mas_Sup_Regions_En_Name" />
                </div>
                <div class="label_input">
                    <label>إحداثيات الموقع</label>
                    <input type="text" name="CR_Mas_Sup_Regions_Location_Coordinates" />
                </div>
                <div class="label_input">
                    <label>الحالة</label>
                    <input type="text" name="CR_Mas_Sup_Regions_Status" />
                </div>
                <div class="label_input">
                    <label>الأسباب</label>
                    <input type="text" name="CR_Mas_Sup_Regions_Reasons" />
                </div>
                <div class="bottom_form">
                    <input type="button" name="delete" class="delete_btn" value="حذف" />
                </div>
                <div class="bottom_form">
                    <input type="button" name="add" class="add_btn" value="إظافة" />
                    <input type="button" name="edit" class="edit_btn" value="تعديل" />
                    <input type="button" name="hold" class="edit_btn" value="تعطيل" />
                </div>
            </form>
        </div>*@

    <div style="height:370px ;box-shadow:-0px 0px 5px 5px grey;">
        @*<img src="~/images/car.jpg" style="width:100%; height:26.1%" />*@
    </div>

</body>
</html>
